<header>
	<div class="d-flx justify-conent-center">
		<h3 class="text-center pt-2">
			<a href="/" class="text-white"><%=sitename%></a>
			
			<i class="fa fa-navicon float-right pr-2" style="color:white;" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation"></i>
			<i class="fa fa-search mr-4 mt-1 float-right" id="search_trigger" style="color:white; font-size: 0.7em !important;"></i>
		</h3>
		<!--dropdown menu-->
		<div class="collapse navbar-collapse" id="navbarNavDropdown">
		    <ul class="navbar-nav">
		      <li class="nav-item dropdown">
		        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		          Change Theme
		        </a>
		        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
		          <a class="dropdown-item d_close" href="#" v-on:click="changetheme(1)">Blue</a>
		          <a class="dropdown-item d_close" href="#" v-on:click="changetheme(2)">Brown</a>
		        </div>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link d_close" href="/signout">Signout</a>
		      </li>
		    </ul>
		</div>

	</div>
</header>
<!--change theme-->
<div id="changetheme_div">
	<img src="css/loading_io/Rolling.svg" style="position:absolute; height: 120px; top:35%; left:34%; z-index:50;" v-show="stylechanging">
	<div class="alert alert-info alert-dismissible fade show" role="alert" v-show="stylechanged">
		  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
		    <span aria-hidden="true">&times;</span>
		  </button>
		  {{stylechange_notice}}
	</div>
</div>

<!--search form-->
<div class="text-center">
	 <form action="/allchatrooms#/search" class="p-2" method="get" name="search_form" id="search_form" enctype="application/x-www-form-urlencoded" v-on:submit.prevent="search(search_text)" style="position: fixed; display: none; width: 99%;">
	    <div class="input-group">
	      <input type="text" class="form-control" name="search" id="search_field" placeholder="Search users" aria-label="search users" aria-describedby="basic-addon2" v-model="search_text" style="position:relative; z-index: 30; background: #c7c7c7;">
	      <span class="input-group-btn">
	        <button class="btn btn-secondary" type="submit" data-toggle="modal" data-target="#exampleModalLong"><i class="fa fa-search"></i></button>
	      </span>
	    </div>
	</form>
</div>
<!--searching image-->
<img src="css/loading_io/Cube-xs.svg" style="position:absolute; height: 100px; top:35%; height: 50px; left:42%; z-index:10;" v-show="searching">
	<!-- Modal -->
	<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true" style="position: absolute; top: 8%;" v-show="search_result">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content" style="width: 100%; background: #FAFAFA;">
	      <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalLongTitle">Search Result</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	      	{{countresp}}
	      	<div v-if="countresp >= 1">
			      	<a class="row mb-2" :href="'/allchatrooms#/user/' + person.username + '/profile'" v-for="person in resp" style="height: 4em; background: #e1e1e1;" v-on:click="modaltoggle()">
			      		<div class="col-3">
			      		  	<img :src="'/images/profile_pics/' + person.avatar" class="img-fluid rounded-circle">
			      		</div>
			      		<div class="col-9">
			      		  	<p>{{person.username}}</p> <small>From {{person.country}}</small>
			      		</div>
			      	</a>
		      </div>
		      <div v-else> no results</div>
	      </div>
	    </div>
	  </div>
</div>
