<% layout('layouts/master') -%>

<div style="height: 40px;"></div>
<div class="text-center">
	<h1 class="text-primary mb-2">Hey There</h1>
	<h2 class="text-primary mb-2">Welcome to YuChat</h2>
	<h3 style="color: grey" class="mb-3">Realtime Online Chatting With Friends</h3>
	<a href="/signup" class="btn btn-primary btn-lg mb-3">Join Now</a><br>
	<p><small>Already have an account? Signin below</small></p>
	<a href="/signin" class="btn btn-success btn-md">Signin</a>
	
	<div class="container-fluid mt-4">
		<a href="/allchatrooms">Go to chat rooms</a> 
		<p class="text-justify display-5 text-muted">Become a part of a free online community where you meet and make new friends. <br>Take your choice from any of the various chat rooms and jump right into conversations.</p>
	</div>

</div>