<% layout('layouts/master') -%>

<div style="height: 40px;"></div>
<div class="text-center">
	<h1 class="text-primary mb-2">You don't seem to be connected now to the internet, reconnect and refresh this page</h1>
	<ul id="cachedpagelist"></ul>

	<img src="images/innovestors.png" style="width:200px;">


</div>