<% layout('layouts/master') -%>

<div style="height: 40px;"></div>
Hey
<div style="height: 50vh; background: grey;" class="pt-5 pl-2">
<input type="text" placeholder="enter text">

<textarea id="example"></textarea>
<input type="text" id="example1">

</div>